nav {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--clr-pink-light);
  width: max-content;
  border-right: 7px solid var(--clr-pink-dark);
  padding: 10px;
}

nav img {
  width: 70%;
  margin-inline: auto;
}

nav a {
  width: max-content;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

nav a:hover {
  scale: 1.05;
}
