.boote-header {
  display: flex;
  /* align-items: center; */
}
.boote-wrapper {
  width: 100%;
  /* padding-inline: 5%; */
  position: relative;
}

.boote-wrapper .hero-heading-wrapper .underline {
  width: 60%;
  height: 20%;
}

.boote-wrapper .hero-heading-wrapper {
  padding-inline: 5%;
}

.boote-wrapper h1 {
  font-family: var(--ft-kristi);
  font-size: var(--fs-143px);
  color: var(--clr-blue-dark);
  position: relative;
  z-index: 2;
}
.boote {
  background-color: var(--clr-blue-light-30);
  padding: 2%;
  border: 2px solid var(--clr-pink-dark);
  border-radius: 25px;
  height: 60vh;
  overflow: scroll;
  margin-inline: 5%;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.boote::-webkit-scrollbar {
  display: none;
}

.boot {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  border-bottom: 2px solid var(--clr-pink-dark);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--clr-pink-dark);
  font-weight: 600;
  cursor: pointer;
}

.boot div {
  display: flex;
  gap: 10px;
}

.boot-link {
  transition: 0.2s;
}
.boot-link:hover {
  scale: 1.05;
}

.add {
  width: 100px;
  position: sticky;
  left: 99%;
  margin-right: -18px;
  transition: 0.2s;
}

.add:hover {
  scale: 1.05;
}
.edit {
  transition: 0.2s;
}

.edit:hover {
  scale: 1.07;
}
